---
import '../styles/style.css'
import { Image } from 'astro:assets'
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>adventure log</title>
    </head>
    <body>
        <Image src="/sign.jpg" alt="a casino sign so bright it is just a glaring white square" width="500" height="500" />
    </body>
</html>
